
body {
  background: linear-gradient(135deg, #dae6fd, #a6e3af);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
